@CHARSET "UTF-8";
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.list-group {
	margin-bottom: 0px;
}
.player{
}
.playlist {
	//width: 400px;
	height: 200px;
	overflow:auto;
	overflow-x : hidden
}
.videolist{
	width: 300px;
	height: 501px;
	overflow:auto;
	overflow-x : hidden
}
.leftwindow{
	float:left;
	margin-right:10px;
}
.entireWindow{
	margin:10px;
}
.blockType{
	display:block;
}