@import
	url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css),
	 '../../shared/mixins';

fieldset, label {
	margin: 0;
	padding: 0;
}

body {
	margin: 20px;
}

h1 {
	font-size: 1.5em;
	margin: 10px;
}
/*****predicted rating**/
.song-card .predicted-rating {
	position: absolute;
	left: 0;
	top: 0;
	padding: 7px 15px;
	color: white;
	z-index: 1;
}

/******caption**********/
div.thumbnail:hover .rating {
	display: block;
}

div.thumbnail img.albumjacket {
	opacity: 0.7;
}
div.rating img {
	width:10%;
}
div.thumbnail {
	position: relative;
}

/* .caption {
	padding:0;
	clear: both;
	margin-top: -20px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	position: absolute;
	z-index: 2;
} */
.bottom {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 0;
	padding: 20px;
	color: #fff;
}
/****** Style Star Rating Widget *****/
.rating {
	bottom: 0;
	width: 97%;
	display: none;
	border: none;
	height: 23%;

	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	float: right;
}
#fixed2 img {
	width:5%;
	
}
/********toast**/
#toast{
	position: fixed;
	top: 20px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	border: none;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 0 ;
	text-align:center;
	color:#ffffff;
	opacity: .9;
	z-index: 2000;
	
	/*The good stuff */
	-webkit-transition: opacity 1.0s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: opacity 1.0s ease-out;  /* FF4+ */
	-ms-transition: opacity 1.0s ease-out;  /* IE10? */
	-o-transition: opacity 1.0s ease-out;  /* Opera 10.5+ */
	transition: opacity 1.0s ease-out;	
	
}

/****progressbar***/
.progress {
	display: block;
	padding: 4px;
	background: rgba(black, .25);
	border-radius: 6px;
	@
	include
	box-shadow(inset
	0
	1px
	2px
	rgba(black,
	.25),
	0
	1px
	rgba(white,
	.08));
}

.progress-bar {
	display:none;
	position: relative;
	height: 16px;
	background-color: #f27011;
	border-radius: 4px; @ include transition(.4s linear); @ include
	transition-property(width, background-color); @ include box-shadow(0 0
	1px 1px rgba(black, .25), inset 0 1px rgba(white, .1)); &: before , & :
	after {
    content : '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

& :before {
	bottom: 0;
	background: url('img/stripes.png') 0 0 repeat;
	border-radius: 4px 4px 0 0;
}

& :after {
	z-index: 2;
	bottom: 45%;
	border-radius: 4px;
	@
	include
	linear-gradient(top,
	rgba(white,
	.3),
	rgba(white,
	.05));
}

}
.checkbox {
	position: absolute;
	right: 0;
	top: 0;
	
}
.predicted-rating{
	position: absolute;
	left: 10px;
	top: 5px;
	
}